html {
    scroll-behavior: smooth;
}

body{
    /* overflow: hidden; */
    color: #505962;
    font-family: arial;
}

.offset::before{
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
}
/*----- Navigation -----*/
.navbar{
    font-family: 'Graduate', cursive;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0 , 0 , 0.6) !important;    
}

.navbar-brand{
    height: 3rem;
}


.navbar-brand:active{
    border: none;
}


.navbar-brand img{
    width: 150px;
}

.navbar-nav li{
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: #2980b9;
    transition: 350ms;
}

#link.active,#link:hover{
    color: #2980b9;
    transition: 350ms;
}

#blog:hover{
        text-decoration:none;   
}

#link{
    color: white;
    text-decoration: none;
}

#link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

#link:hover::after {
    width: 100%;
    transition: width .3s;
}

a{
    outline: 0;
}
/* --- Landing Page --- */

.home-inner{
    background-image: url(img/cover.png);
}

.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

.caption h1{
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.caption h3{
    font-size: 1.3rem;
    /* text-shadow: .1rem .1rem .5rem black; */
    padding-bottom: 1.6rem;
    text-align: center;
    position: relative;
}


/* .btn-lg{
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.3rem;
    font-size: 1rem;
} */

/* --- Course Section --- */
.narrow{
    width: 75%;
    margin: 1.5rem auto;
    padding-top: 2rem;
}

.narrow h1{
    font-size: 2.4rem;
}

#btn-5{
    text-decoration: none;
}

#btn-5{
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin: 20px 30px;
    background: rgba(0,0,0,0.09);
}
span{
    display: block;
    padding: 10px 10px;
}
#btn-5::before, #btn-5::after{
    content:"";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: white;
}
  
span::before, span::after{
    content:"";
    width:2px;
    height:0;
    position: absolute;
    transition: all 0.2s linear;
    background: white;
}
#btn-5:hover::before, #btn-5:hover::after{
    width: 100%;
}
#btn-5:hover span::before, #btn-5:hover span::after{
    height: 100%;
}

#btn-5::after{
    left:0;
    bottom: 0;
    transition-duration: 0.4s;
}
#btn-5 span::after{
    right:0;
    top: 0;
    transition-duration: 0.4s;
}
#btn-5::before{
    right: 0;
    top: 0;
    transition-duration: 0.4s;
}
#btn-5 span::before{
    left: 0;
    bottom: 0;
    transition-duration: 0.4s;
}

#btn-5:hover{
    color:#2a4181;
    transition: 300ms;
}
#about{
    padding-top: 10px
}

/* .btn-secondary{
    border-width: medium;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: .6rem 1.2rem;
    margin: 1rem;
    color: white;
    background-color: #2980b9;
    border-color: #2980b9;
}

.btn-secondary:hover{
    background-color: #3498db;
    border-color: #3498db;
} */

.ali{
    border-radius: 50%;
}

/* --- Feature Section */

.jumbotron{
    margin-bottom: 0;
    padding: 2rem 0 3.5rem;
}

h3.heading{
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
}   

.heading-underline{
    width: 3rem;
    height: .2rem;
    background-color: #2980b9;
    margin:0 auto 2rem;
}

.feature h3{
    font-size: 1.3rem;
    text-transform: uppercase;
}

.feature p{
    font-size: 1.1rem;
    text-align: justify;
}

/* --- Resource Section --- */

.fixed{
    background-image: url(img/apple.png);
    z-index: -1;
}

.dark{
    background-color: rgba(0,0,0,.75);
    color: white;
    padding: 7rem 2rem;
}
.fixed-background h3{
    margin-bottom: 2rem;
}

.fixed-background p{
    margin-top: 1.5rem;
}

/* --- Client Section --- */

.clients img{
    width: 100%;
    border-radius: 50%;
}

.clients-hr{
    border-top: .05rem solid #2980b9;
}

/* --- About --- */

#tentang{
    text-align: center;
}

/* --- Contact Section --- */

footer{
    background-color:#40474e;
    color: white;
    padding:2rem 0 2rem;
    margin-top: 1rem;
}

footer img{
    height: 3rem;
    margin:1.5rem 0
}

footer a{
    color: white;
}

footer svg.svg-inline--fa{
    font-size: 1.6rem;
    margin: 1.2rem .5rem;
}

footer svg.svg-inline--fa:hover{
    color: #2980b9 !important;
    letter-spacing: 2px;
    transition: 300ms;
}

.fa{
    letter-spacing: 5px;
}

.fa:hover{
    color: #2980b9 !important;
    transition: 300ms;

}

h3.socket{
    width: 10%;
    border-top: .2rem solid #666b71;
    margin-top: 2rem;
}

blockquote{
    text-align: justify;
}

/* --- Media queries --- */
@media(max-width: 765px){
    .caption h1{
        font-size: 2.3rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }
    
    .caption h3{
        font-size: 1.2rem;
        padding-bottom: 1.2rem;
    }
    
    .btn-lg{
        padding: .5rem 1rem;
        font-size: 1rem;
    }

    .narrow h1{
        font-size: 1.5rem;
    }

    .clients img{
        max-width: 50%;
        display: block;
        margin: 0 auto;
    }
}
/* --- material icon --- */
.material-icons{
    font-size: 50px !important;
    color: #2980b9;
}

/* --- judul portfolio */
.judulPort{
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
}

/* --- logo footer --- */
#footer {
    padding-left: 50px;
}
/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/


/* 
link : https://www.youtube.com/watch?v=V_lAhqLXT9A
menit 51:03


*/